li {
    list-style-type: none;
}
.my-background {
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;

}

.background-table {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;

}

.record {
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid gray;
    position: relative;
}

.record:last-child {
    border-bottom: none;
}

.record:hover{
    cursor: pointer;
    background-color: #deffb0;
}

.close {
    position: absolute;
    top: 15px;
    right: 10px;
}

.selected {
    background-color: #a2bdff !important;
}

.title {
    text-align: center;
}

.body-style{
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
}