
<div *ngIf="showUserDetails" class="row">
    <div class="col-md-10">
        <h1>New User</h1>
    </div>
</div>
<div *ngIf="showUserDetails" class="row my-background" style="max-width: 90%">
    <form class="col-md-12" [formGroup] = "newFormUser">
        <div class="form-group">
            <label >Login</label>
            <input class="form-control"  formControlName="login"
                   [formControl] = "newFormUser.controls['login']" placeholder="Login"/>
        </div>
        <div class="form-group">
            <label >Name</label>
            <input class="form-control" formControlName="name" [formControl] = "newFormUser.controls['name']" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label >Surname</label>
            <input class="form-control" formControlName="surname" [formControl] = "newFormUser.controls['surname']" placeholder="Surname"/>
        </div>

        <button class="btn btn-primary"  [disabled]= "!newFormUser.valid" (click)="createUser()">Create</button>
        <button class="btn btn-primary"   (click)="cancel()">Close</button>

    </form>
</div>