<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>User details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h3>Edit user: {{context.selectUser.login}}</h3>
                <div>
                    <label>Name:</label>
                    <input type="text" [(ngModel)] = "context.selectUser.name"/>
                </div>
                <div>
                    <label>Surname:</label>
                    <input type="text" [(ngModel)] = "context.selectUser.surname"/>
                </div>
                <button class="btn btn-info" (click)="updateUser(context.selectUser)">Update</button>
                <button class="btn btn-danger" (click)="deleteUser(context.selectUser)">Delete</button>
                <button class="btn btn-primary"  (click)="onKeyUp()">Close</button>
            </div>
        </div>
    </div>
</div>